html, body {
    height: 100%;
    width: 100%;
}
body {
    padding: 0;
    margin: 0;
}
body {

}
* {
    box-sizing: border-box;
}
.wrapper{
    padding: 10px 0 10px 0 ;
    width: 100%;
    height: 100%;
    min-width: 400px;
    display: flex;
    position: relative;
    background-image: url('images/99.png');
    background-repeat: repeat;


    /*justify-content: center;*/
}
.common {
    margin: auto;
    height: 100%;
    display: flex;
}
.container {
    height: 100%;
    width: 400px;
    overflow: hidden;
    border: #8a8888;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 10px;
    margin: auto;
    padding: 20px 0;
}

#playField {
    width: 420px;
    height: calc(100% - 50px);
    overflow-Y: scroll;
    padding: 0 20px;

}


.field {
    width: 360px;
    height: auto;

}
.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eaeaeaea;
    font-weight: bold;
    color: #525151;
    z-index: 2;
}

.gray {
    opacity: 0.5;
}

.deleted {
    background-color: rgba(0,0,0, 0.3);
    font-size: 0;
}

.buttons {
    width: 100px;
    display: flex;

}

.btn {
    outline: none;
    border: none;
    padding: 0 20px;
    height: 40px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(0,0,0, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    color: #ecebeb;
    flex-grow: 1;
    border-radius: 3px;
}

.btn:not(:last-child) {
    margin-right: 3px;
}

.btn:not(.touch):hover, .btn:not(.touch):active{
    box-shadow: 0 -2px 0 white inset;
}

.touch:hover, .touch:active{
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset!important;
}

.panel  {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    padding: 0 20px;
}

.icon {
    width: 16px;
    height: 16px;
}

.hidden {
    display: none;
}

.hint {
    box-shadow: 0 0 10px rgba(18,232,7,1) inset;
    /*border: 2px solid green;*/
}

.reference{
    width: 350px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
}
.forIcon {
    width: 24px;
    height: 24px;
    background-color: dimgrey;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.displayInline{
    display: flex;
    align-items: center;
    padding-left: 40px;
    position: relative;
    margin-bottom: 10px;
}
#btnClose {
    width: 30px;
    heigth: 30px;
    position: absolute;
    right: -5px;
    cursor: pointer;
}
#btnClose::before, #btnClose::after {
    width: 20px;
    height: 3px;
    background-color: dimgrey;
    position: absolute;
    content: "";
    top: 5px;
}
#btnClose::before {
    transform: rotate(45deg)
}
#btnClose::after {
    transform: rotate(-45deg)
}
/*
@media (max-width: 300px) {
    .container{
        width: 100%;
    }

    #playField {
        width: calc(100% + 20px);
    }
    .field {
        width: calc(100% - 20px);
    }
    .cell{
        width: 51px;
        height: 51px
    }
    .row{
        width: 100%;
    }
}


